[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gbp"]
	path = gbp
	url = https://github.com/gyang274/gbp
[submodule "skm"]
	path = skm
	url = https://github.com/gyang274/skm
